<div class ="container">
  <h2 style="margin: 20px 0;">商品編集・削除</h2>
  <div class="row">
    <%= form_with model:@item, url: admin_item_path(@item.id),local:true do |f| %>
      <%= render 'admin/items/input', f: f %>
      <div>
        <%= f.submit "変更内容保存", class: "btn btn-outline-success mr-2 mb-5" %>
        <%= link_to "削除する", admin_item_path(@item), method: :delete, data: {confirm: "削除しますか？(販売停止にもできます。)"}, class: "btn btn-outline-danger ml-2 mb-5" %>
      </div>
    <% end %>
  </div>
</div>
