<div class="container">
 <div class="row">
   <div class="col-lg-6">
    <h2 style="padding: 20px 0;">ジャンル編集</h2>
    <%= form_with model:@genre, url: admin_genre_path(@genre.id), local:true do |f| %>
      <div>
        <%= f.label :"ジャンル名" %>
        <%= f.text_field :name %>
        <%= f.submit "変更保存", class: "btn btn-outline-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>