<div class="container">
　<div class="row">
　    <div class="col-lg-12">
　       <div style="padding-left: 270px;">
　           <h3 style="padding-top: 20px;">お問い合わせ内容を送信しました</h3>
             <p>
               お問い合わせありがとうございます。<br>
               内容を確認次第、ご登録いただいたメールアドレスに返信いたします。
             </p>
　       </div>
　    </div>
　</div>
</div>