<div class="container-fluid about-visual-top">
  <div class="row">
    <div class="col-lg-6">
      <p style="height:30px;"></p>
    </div>
    <div class="col-lg-5 about-visual-text">
      <p style="height: 80px;"></p>
      <h4>夢珈琲みんぴ</h4>
      <p>
        みんぴ(mimpi)はインドネシア語で「夢」という意味です。<br>
        「たくさんの方に世界中のコーヒーを届けたい」という夢を持って名前を決め、
        創業20年、多くの方に愛される、コーヒーづくりに励んできました。<br>
        <br>
        朝目覚めたとき<br>
        お昼休憩のホッとしたいとき<br>
        初めて会った人の心を解きたいとき<br>

        そんな瞬間に美味しいコーヒーがあれば、人生はもっと豊かになる。<br>

        世界には、そんな瞬間にぴったりで、人生に豊かさを与えてくれる<br>
        素敵なコーヒーが、まだまだたくさんあります。<br>
        <br>
        私たちは、コーヒーの素材を十分に引き出す焙煎に力を入れ、<br>
        どうしたら"本当に美味しいコーヒー"をつくれるのか、探求しています。<br>
        一人でも多くのコーヒーを愛する方々に、<br>
        世界中のコーヒーを、最高の状態で届けたい。<br>
        そんな想いで、今日もコーヒーたちと向き合っています。
      </p>
      <p style="height: 67px;"></p>
    </div>
  </div>
</div>