<div class="container-fluid main-visual">
  <div class="row">
    <div class="col-lg-12 main-visual-text">
      <p>
        人生はどれだけ呼吸をし続けるかで決まるのではない。<br>
        どれだけ心のふるえる瞬間があるかだ。
      </p>
      <h1>さぁ、心ふるえる一杯を。</h1>
    </div>
  </div>
</div>
<!--<p style="height:30px;"></p>-->
<!--<div class="container">-->
<!--  <h2 class="pb-3">コーヒーの購入方法</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-3" style="padding-left: 40px;">-->
<!--      <%#= image_tag("img/coffee.png", :size => '240x300') %>-->
<!--    </div>-->
<!--    <div class="col-lg-1" style="padding-left: 50px;">-->
<!--      <p style="height:120px;"></p>-->
<!--      <h1>→</h1>-->
<!--    </div>-->
<!--    <div class="col-lg-3" style="padding-left: 40px;">-->
<!--      <%#= image_tag("img/coffee.png", :size => '240x300') %>-->
<!--    </div>-->
<!--    <div class="col-lg-1" style="padding-left: 50px;">-->
<!--      <p style="height:120px;"></p>-->
<!--      <h1>→</h1>-->
<!--    </div>-->
<!--    <div class="col-lg-3" style="padding-left: 40px;">-->
<!--      <%#= image_tag("img/coffee.png", :size => '240x300') %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<p style="height:130px;"></p>-->
