/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "owl.carousel";
@import "owl.theme.default";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 64px;
}

footer {
  bottom: 0;
  height: 65px;
  position: absolute;
  width: 100%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-contact {
  position: absolute;
	right: 10px;
	top: 10px;
}

.field_with_errors {
background-color: #fcc;
padding: 2px;
}

.error {
  color: white;
  text-align: center;

  .notice {
    background-color: #F4511E;
  }

  .success {
    background-color: lightGreen;
  }

  .alert {
    background-color: #F4511E;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

}

.font-mincho {
  font-family :
  YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
}
