// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%;
  height: 700px;
  background-image:image_url("coffee.png");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  // opacity: 0.2;
}


.main-visual-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  color: white;
  font-family :
  YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
	serif;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
	margin-top: 210px;
}


.about-visual-top {
  width: 100%;
  height: 700px;
  background-image:image-url("about_top.png");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  // opacity: 0.2;
}

.about-visual-text {
  display: table-cell;
	vertical-align: middle;
  text-align: left;
  color: white;
  font-family :
  YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
	serif;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
}

.about2-visual-top {
  width: 100%;
  height: 630px;
  background-image:image_url("about_top2.png");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  // opacity: 0.2;
}