<div class='container font-mincho'>
  <div class='row'>
    <div class='col-lg-12 text-center' style="padding:20px;">
　　　<h4>ご注文ありがとうございました！</h4>
　　　<h4>心を込めてお届け致します！</h4>
　　　<p><%= link_to "マイページへ", ec_mypage_path(current_customer.id), class: "text-dark fas fa-home" %></p>
 　 </div>
  </div>
</div>