<footer class="font-mincho", style="background-color: #daa965">
  <p class="ml-2"><%= link_to "管理者ログイン", new_admin_session_path, class: "text-dark fas fa-sign-in-alt" %></p>
  <p class="text-center">Mimpi Coffee</p>
  <div class="footer-contact">
    <%= link_to "お問い合わせ", new_contact_path, class: "btn btn-outline-dark" %>
  </div>
</footer>